* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  overflow: overlay;
  scroll-behavior: smooth;
}

body {
  background-color: #fed4cb;
  color: #2f2e41;
  font-family: "Poppins", sans-serif;
}

h1, h2, h3, h4, h5, h6{
  font-size: 24px;
}

h3, h4, h5, h6{
  text-align: center;
  margin: 20px auto;
  padding-top: 100px;
}

p {
font-size: 18px;
}

nav {
  display: flex;
  height: 65px;
  top: 0;
  position: fixed;
  overflow: hidden;
  z-index: 2;
  width: 100%;
  background-color: #fed4cb;
  border-bottom: 1px solid;
  border-color: #2f2e41;
}



header {
  display: block;
  min-height: 85vh;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.logotipo h1 {
  font-size: 30px;
  color: #2F2E41;
  display: flex;
  flex-direction: column;
  margin: 5rem;
}

.header-menu ul{
  display: flex;
  flex-direction: row;
  gap: 35px;
  margin: 0 5rem;
}

.header-menu ul li{
  list-style: none;
}

.header-menu ul li a{
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  color: #2f2e41;
}

.header-menu ul li a:hover{
  color: #636363;
  transition: .8s;
}


.logotipo h1:hover {
  color: #636363;
  transition: ease-in 0.5s;
}

.header-itens {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 12rem;
}

.boas-vindas-header{
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin: 5rem;
}

.header-ilustracao{
  display: flex;
  flex-direction: column;
  margin: 5rem;
}


.botao-linkedin-header button {
  margin: 0;
  width: 175px;
  height: 50px;
  background-color: #2f2e41;
  border-radius: 5px;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 600;
  color: white;
  border: none;
}

.botao-linkedin-header button:hover {
  background-color: #505052;
  color: white;
  transition: 1s;
}

h2{
  font-size: 70px;
  font-weight: 800;
}


main {
  display: block;
  min-height: 60vh;
}

.texto-sobre-mim{
  width: 720px;
  margin: auto;
}

.texto-sobre-mim p{
  text-align: justify;
}

#habilidades {
  height: 60vh;
}


.lista-tecnologias {
  width: 100%;
  height: 260px;
  background-color: #505052;
  margin: auto;
  display: flex;
}

.lista-tecnologias ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 120px;
  margin: auto;
}

.lista-tecnologias li {
  list-style-type: none;
}

#projetos{
  min-height: 80vh;
}

.imagens-projetos {
  width: 50%;
  margin: auto;
}

.imagens-projetos img {
  width: 300px;
  height: 400px;
  border-color: #2f2e41;
  border: 1px solid;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
}

#contato{
  height: 30vh;
}

.lista-contato {
  margin: auto;
  width: 50vw;

}

.contato ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 100px;
}

.contato li {
  list-style-type: none;
}

.contato img {
  width: 30px;
}

footer {
  border-top: 1px solid;
  border-color: #2f2e41;
  height: 8vh;
  padding-top: 25px;
  text-align: center;
  font-weight: 600;
}
